:root {
  --grayscale-background: #eef4fb;
  --grayscale-body: #64697d;
  --grayscale-label: #9a9caa;
  --grayscale-stroke-line: #d9dfeb;
  --grayscale-title: #050a1f;
  --grayscale-white: #ffffff;
  --grayscale-placeholder: #f6f6f9;
  --neutral-label: #636d8f;
  --neutral-title: #070e28;
  --primary-tulip-100: #ffd5d9;
  --primary-tulip-200: #ffc1c7;
  --primary-tulip-300: #ffa5ae;
  --primary-tulip-400: #ff949e;
  --primary-tulip-50: #fff2f3;
  --primary-tulip-500-base: #ff8289;
  --primary-tulip-600: #e8677a;
  --primary-tulip-700: #b5565f;
  --primary-tulip-800: #8c434a;
  --primary-tulip-900: #6b3338;
  --states-error-100: #ffe3e5;
  --states-error-200: #ffc5c8;
  --states-error-300: #ff8289;
  --states-error-400: #ff6a72;
  --states-error-50: #ffeced;
  --states-error-500-base: #ed5556;
  --states-error-600: #e83f48;
  --states-error-700: #b53138;
  --states-error-800: #8c626b;
  --states-error-900: #6b1d21;
  --states-info-100: #c5d2fe;
  --states-info-200: #a9bdff;
  --states-info-300: #819ffe;
  --states-info-400: #698cfd;
  --states-info-50: #ecf1ff;
  --states-info-500-base: #FF8289;
  --states-info-600: #3d65e6;
  --states-info-700: #304fb4;
  --states-info-800: #253d8b;
  --states-info-900: #1c2f6a;
  --states-success-100: #b0edcc;
  --states-success-200: #8ae4b4;
  --states-success-300: #54d791;
  --states-success-400: #33d07c;
  --states-success-50: #e6f9ef;
  --states-success-500-base: #0dc066;
  --states-success-600: #00b253;
  --states-success-700: #008b41;
  --states-success-800: #006c32;
  --states-success-900: #005226;
  --states-warning-100: #ffecb0;
  --states-warning-200: #ffe28a;
  --states-warning-300: #ffd554;
  --states-warning-400: #ffcd33;
  --states-warning-50: #fff9e6;
  --states-warning-500-base: #fcc418;
  --states-warning-600: #e8b000;
  --states-warning-700: #b58900;
  --states-warning-800: #8c6a00;
  --states-warning-900: #6b5100;

  --color-white: #ffffff;
  --color-grey-light: #8c8e98;
  --color-grey-lavender: #e7e8f1;
  --color-custom-orange: #ff731d;
  --tulip-gradient: linear-gradient(90deg, var(--primary-tulip-500-base) 0%, #c650fe 100%);
  --error-gradient: linear-gradient(90deg, var(--states-error-50) 0%, var(--states-error-500-base) 100%);
}
